@font-face{
    font-family:ff;
    src: url(./font/ff.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}
nav{
    display: grid;
    grid-template-columns:30% 70%;
    padding: 30px;
    margin: 15px;
}
#logo span{
    font-family: ff;
    font-size: 60px; 
}
#nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}
a{
    text-decoration: none;
    transition: 0.2s;
    color: #808e9b;
    font-family: ff;
    font-size: 18px;
}
#nav a:hover{
    color: #1e272e;
    font-size: 30px;
}